@import url('https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap');

html{scroll-behavior:smooth}

body {
    margin: 0;
    background: rgb(0, 0, 0);
    color: white;
    font-family: 'Cabin', sans-serif !important;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
/*
h1{
    text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
*/

/* buttons */
.btn-custom{
    font-size: 0.7rem !important;
    font-weight: 700 !important;
    height: 40px;
    letter-spacing: .1rem;
    padding: 0 24px !important;
    text-transform: uppercase;
    border-color: white;
    color: white;
}
.btn-primary{ background: #9b4dca !important; border: none !important }
.btn-link{
    padding: 1rem 3rem;
    background: none;
    border: 1px solid white;
    transition: 0.5s;
}
.btn-main {
    border: none;
    background-size: 150% auto;
    background-image: linear-gradient(to right, #9b4dca 0%, rgb(78, 69, 197) 51%, rgb(41, 125, 194) 100%);
}
.btn-social{ line-height: 3.3em }
.btn-tg:hover{ background: rgba(30, 75, 117, 0.438) }
.btn-ws:hover{ background: rgba(38, 138, 91, 0.281) }
.btn-gm:hover{ background: rgba(206, 60, 60, 0.288)}
.btn-icon{
    height: 1em;
    width: auto;
    padding-right: 1em;
}


/* forms */
label { 
    color: rgb(153, 153, 153);
    font-weight: 600;
    display: block;
}

input, textarea {
    border: solid 2px rgb(153, 153, 153);
    background: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: white
}
input:focus, textarea:focus { border-color: #9b4dca; outline: none }


/* navbar */
.navbar{
    padding-top: 2em;
    margin-bottom: 1em;
    color: white;
    display: flex;
    justify-content: space-between;
}
.logo{ max-height: 50px; width: auto }


/* footer */
.footer{
    background: rgb(20, 20, 20);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.footer a{ color: #9b4dca !important; }


/* main section */
.hero{
    position: relative;
    top: 5%;
    left: 2%;
}

.hero-imagen{
    height: 100vh;
    width: auto;
    background-image: url('../images/bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 90%;
}

.hero-text{
    color: rgb(153, 153, 153);
    /*background-color: rgb(0, 0, 0);*/
}

/* navbar */
.navbar-toggler {border-color: rgb(255, 255, 255) }
.navbar-toggler:focus{ outline: none }
.line {
    display: block;
    background: white;
    height: 2px;
    width: 20px;
    margin: 5px auto;
}

/* cards */
.card{ background: rgb(24, 24, 26); text-align: center }
.card-title{ color: #9b4dca }

@media only screen and (max-width: 1194px){
    .hero-imagen{
        background: linear-gradient(90deg, #000, rgba(0, 0, 0, 0.733), transparent), url('../images/bg.png'); 
    }
}

@media only screen and (max-width: 768px){
    .hero{
        top: 0%;
    }

    .hero-imagen{
        height: 125vh;
        width: auto;
        background-repeat: no-repeat;
        background-image: url('../images/bg-mobile.png');
        background-position: bottom center;
        background-size: 100% auto;
    }
}

@media only screen and (max-width: 620px){
    .hero-imagen{
        height: 110vh;
        background-size: contain;
    }
}
/*
@media only screen and (max-width: 425px){
    .hero{
        position: initial;
    }
    .hero-imagen{
        height: 110vh;
        background-size: contain;
    }
}
*/
/*
@media only screen and (max-width: 375px){
*/
@media only screen and (max-width: 425px){
    .hero-imagen{
        height: 100vh;
        width: auto;
        background: linear-gradient(#000, rgba(0, 0, 0, 0.897), transparent), url('../images/bg-mobile.png') no-repeat center; 
        /*background-repeat: no-repeat;
        background-position: center center;*/
        background-size: auto auto;
    }
}